.column-12{
    display: flex;
    background-color: #EEF1FF;
    height: 8rem;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
}

.btn-link{
    color: #5837D0;
}